[submodule "libs/gradle-witness"]
	path = libs/gradle-witness
	url = https://git.silence.dev/Silence/gradle-witness.git
[submodule "libs/org.whispersystems.libpastelog"]
	path = libs/org.whispersystems.libpastelog
	url = https://git.silence.dev/Silence/libpastelog.git
[submodule "libs/org.greenrobot.eventbus"]
	path = libs/org.greenrobot.eventbus
	url = https://github.com/greenrobot/EventBus
[submodule "libs/org.whispersystems.libsignal"]
	path = libs/org.whispersystems.libsignal
	url = https://git.silence.dev/Silence/libsignal-protocol-java.git
[submodule "libs/org.whispersystems.jobmanager"]
	path = libs/org.whispersystems.jobmanager
	url = https://git.silence.dev/Silence/jobmanager.git
[submodule "libs/com.amulyakhare.textdrawable"]
	path = libs/com.amulyakhare.textdrawable
	url = https://git.silence.dev/Silence/TextDrawable.git
