[submodule "libs/com.android.support.support-v4-preferencefragment"]
	path = libs/com.android.support.support-v4-preferencefragment
	url = https://github.com/kolavar/android-support-v4-preferencefragment.git
[submodule "libs/org.w3c.dom"]
	path = libs/org.w3c.dom
	url = https://github.com/SMSSecure/org.w3c.dom.git
[submodule "libs/gradle-witness"]
	path = libs/gradle-witness
	url = https://github.com/WhisperSystems/gradle-witness.git
[submodule "libs/com.amulyakhare.textdrawable"]
	path = libs/com.amulyakhare.textdrawable
	url = https://github.com/amulyakhare/TextDrawable.git
