language: android
cache: false
env:
  global:
    - GRADLE_OPTS="-Xmx512m -XX:MaxPermSize=512m"

android:
  components:
    - platform-tools
    - build-tools-21.1.2
    - android-19
    - extra-android-m2repository

before_script:
     - ps auxww
     - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
     - emulator -avd test -no-skin -no-audio -no-window -memory 256 &
     - android-wait-for-emulator
     - adb shell input keyevent 82 &

script:
     - ./gradlew connectedCheck -PdisablePreDex -PtaskThreads=1 -PandroidThread=1
